<div ng-controller="my_controller_1">
    <input type="text" ng-model="myobject.text">
    <div ng-bind="myobject.text"></div>
    </br></br>
    <div>Search:
      <input type="text" ng-model="search"/>
    </div>
    <div>Order:
      <select ng-model="order">
        <option value="username">username</option>
        <option value="nickname">nickname</option>
        <option value="age">age</option>
        <option value="price">price</option>
      </select>
    </div>
    </br></br>

    <my-users attr-users="users">
      <h3>最新用户</h3>
    </my-users>
    <div my-users attr-users="hotusers">
      <h3>最热门用户</h3>
    </div>
    <div class="my-users" attr-users="coldusers">
      <h3>最冷门用户</h3>
    </div>

    </br></br>
    <div ng-show="edit_form_visible">
      <form name="editUserForm">
        <div>Username: <input type="text" ng-model="editUser.username" required /></div>
        <div>Nickname: <input type="text" ng-model="editUser.nickname"/></div>
        <div>Age: <input type="text" ng-model="editUser.age"/></div>
        <div>Price: <input type="text" ng-model="editUser.price"/></div>
        <div><button ng-click="updateItem()" ng-disabled="editUserForm.$invalid">update Item</button></div>
      </form>
    </div>

    <button ng-click="addItem()">Add Item</button>
    <div ng-show="new_form_visible">
      <form name="userForm">
        <div>Username: <input type="text" ng-model="newItem.username" required /></div>
        <div>Nickname: <input type="text" ng-model="newItem.nickname"/></div>
        <div>Age: <input type="text" ng-model="newItem.age"/></div>
        <div>Price: <input type="text" ng-model="newItem.price"/></div>
        <div><button ng-click="saveItem()" ng-disabled="userForm.$invalid">Save Item</button></div>
      </form>
    </div>

</br></br></br>
    <div ng-include="'pages/module1/my_view1_1.html'"></div>

  </div>
